<section class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Calendrier des cours pour enfants (7 à 14 ans)</h1>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
        <tr>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Jour</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Enfants</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Local</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">Lundi</td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">18h00-19h30</td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">Aréna Teddy Riner</td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">Jeudi</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">18h00-19h30</td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">Aréna Teddy Riner</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="text-gray-400 bg-black body-font">
  <div class="container px-2 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2 sm:w-1/2 w-full">
        <h2 class="font-medium title-font tracking-widest text-white mb-4 text-2xl text-center sm:text-left">Détails de l'inscription</h2>
        <div class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-3">
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Tarif annuel: 200 Euros (inclus licence et assurance).
          </a>
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span> Nous sommes partenaires PASS+ 92 (référencés à Asnières-sur-Seine),
            chèques vacances et coupon sport.
          </a>
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span> Votre enfant peut faire un cours d'essai gratuit avant toute inscription
            avec un  short/pantalon de sport et un t-shirt un lundi ou un jeudi .
          </a>
        </div>
      </div>
      <div class="p-4 lg:w-1/2 sm:w-1/2 w-full">
        <h2 class="font-medium title-font tracking-widest text-white mb-4 text-2xl text-center sm:text-left">Documents INDISPENSABLES pour l'inscription</h2>
        <div class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2">
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Certificat médical d'aptitude autorisant la pratique de la Boxe Thaïlandaise
            (compétiteurs la mention "y compris en compétition" est obligatoire).
          </a>
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Fiche d'inscription à remplir (lien ci-dessous) avec une photo.
          </a>
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Une deuxième photo.
          </a>
          <a class="text-xl">
            <span class="bg-gray-800 text-red-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Autorisation parentale (lien ci-dessous) à remplir.
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-white mb-4">Documents téléchargables</h1>
    </div>
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      <div class="p-2 sm:w-1/2 w-full">
        <a href="../../../assets/docs/fiche%20inscription%20Muay-Thai.pdf" download>
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-red-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white" >Fiche inscription (PDF)</span>
          </div>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="../../../assets/docs/MT%20Enfants%20autorisation%20parentale%20AFMT.pdf" download>
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-red-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Autorisation parentale (PDF)</span>
          </div>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="../../../assets/docs/MT%20Adultes%20fiche%20informations.pdf" download>
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-red-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Fiche d'informations cours adultes (PDF) </span>
          </div>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="../../../assets/docs/Pass%2092.pdf" download>
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-red-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Partenariat au Pass+ hauts de seine</span>
          </div>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="../../../assets/docs/tableau.jpg" download>
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-red-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Tableau des cours </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
