<header class="text-gray-400 bg-black body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a  routerLink="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img class="w-10 h-10 text-white bg-red-500 rounded-full"
           src="/assets/img/club-decoration/club-logo.png">
      <span class="ml-3 text-xl text-red-800">ASK BOXING</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-xl text-base justify-center">
      <a routerLink="/" class="mr-5 hover:text-white">Accueil</a>
      <a routerLink="/the-muay-thai" class="mr-5 hover:text-white">Le Muay-Thaï</a>
      <a routerLink="/the-club" class="mr-5 hover:text-white">Le Club</a>
      <a routerLink="/adults" class="mr-5 hover:text-white">Section adultes</a>
      <a routerLink="/kids" class="mr-5 hover:text-white">Section enfants</a>
      <a routerLink="/ladies" class="mr-5 hover:text-white">100% Féminines</a>
      <a routerLink="/access-to-locals" class="mr-5 hover:text-white">Accès aux locaux</a>
    </nav>
  </div>
</header>
