<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-500 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg">
        ASK BOXING est un club associatif (loi 1901) d'initiation et perfectionnement aux
        techniques de Muay-Thaï (aussi appellée Boxe Thaïlandaise). Créé en 2002, il est
        composé de deux professeurs diplômés d'Etat et d'un professeur diplômé fédéral.

        Nous sommes un club orienté loisir, ouvert à tous et à toutes.
        Tous les adhérents du club, qu'ils soient compétiteurs ou non, retiennent notre
        attention de la même manière.

        Nous voulons promouvoir cet art martial ancestral avec une pédagogie éducative
        évolutive et ludique, notamment auprès des enfants.
        Une attention est portée sur la sécurité des adhérents car ce sport reste une activité
        de loisir et d'ouverture à ce sport et la culture Thaï.

        Concernant les enfants, la boxe éducative* est l'axe majeur et l'accès à la compétition
        leur est proposé mais non imposé. Nous adoptons parfois une pédagogie ludique afin
        que cela reste un loisir/détente (entraînement sous forme de jeux).<

        Nous disposons d'une salle avec tatamis en mousse et deux rings.
        Nous prêtons gants, protège-tibias, cordes à sauter, plastrons, divers outils de travail
        (cerceaux, plots, paos, sacs de frappe...).

        * La Boxe Educative: ce sont des assauts et non des combats, c'est à dire que tout se fait
        à la touche sans impact. Les arbitres sont là pour faire respecter cette règle et
        sanctionner ceux qui ne la respectent pas en compétition.
      </p>
      <span class="inline-block h-1 w-10 rounded bg-red-500 mt-8 mb-6"></span>
      <h2 class="text-white font-medium title-font tracking-wider text-sm">ASK BOXING</h2>
      <p class="text-gray-500">Le club</p>
    </div>
  </div>
</section>
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-white tracking-widest">Les professeurs</h1>
    </div>
    <div class="flex flex-wrap -m-3">
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="assets/img/Nasser2.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-white">Nasser Biskri</h2>
            <h3 class="text-gray-500 mb-3">Président du club</h3>
            <p class="mb-4">Ancien Champion de France, diplômé d'Etat BPJS, juge/arbitre international et superviseur de galas de Muay-Thaï</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="assets/img/Rabbah.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-white">Rabah Ouadhi</h2>
            <h3 class="text-gray-500 mb-3">Trésorier du club</h3>
            <p class="mb-4">Champion de France et d'Europe 1990. Diplômé d'Etat, juge/arbitre international et superviseur de galas de Muay-Thaï.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="assets/img/Serge.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-white">Serge Giordanino</h2>
            <h3 class="text-gray-500 mb-3">Trésorier adjoint du club</h3>
            <p class="mb-4">Breveté fédéral (BMF 1 et 2), juge/arbitre et s'occupe
              intégralement de ce (superbe) site.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
