<section class="text-gray-400 bg-black body-font">
<div class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
  <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" style="--animation-duration: {{ animationDuration }};">
    <li *ngFor="let item of carouselImages">
      <img [src]="getImageURL(item)" alt="{{ item }}" class="flex rounded-lg h-full shadow-lg shadow-red-600 bg-black bg-opacity-20 p-8 flex-col border-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
    </li>
  </ul>
  <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
    <li *ngFor="let item of carouselImages">
      <img [src]="getImageURL(item)" alt="{{ item }}" class="flex rounded-lg h-full shadow-lg shadow-red-600 bg-black bg-opacity-20 p-8 flex-col border-red-600 border-b-2 border-e-2 border-l-2 border-t-2" >
    </li>
  </ul>
</div>
</section>
