<section class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-red-800">Calendrier des cours</h1>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto shadow-lg shadow-red-600 border-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
        <tr class="bg-red-600 rounded-tl rounded-bl bg-gradient-to-r from-red-600  via-black to-red-600">
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Jour</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Période</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Catégorie</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Site</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let group of groupedCalendarItems">
          <tr *ngFor="let item of group.items; let i = index" [class.last-in-group]="item.isLastInGroup">
            <ng-container *ngIf="i === 0">
              <td class="px-4 py-3 text-lg text-white align-top " [attr.rowspan]="group.items.length">{{group.day}}</td>
            </ng-container>
            <td class="px-4 py-3 text-lg text-white">{{item.period}}</td>
            <td class="px-4 py-3 text-lg text-white">{{item.category}}</td>
            <td class="px-4 py-3 text-lg text-white">{{item.site}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>
