<section class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-red-800">Calendrier des cours</h1>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto shadow-lg shadow-red-600 border-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
        <tr class="bg-red-600 rounded-tl rounded-bl bg-gradient-to-r from-red-600  via-black to-red-600">
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Jour</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Adultes</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">Enfants</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm ">100% Feminines</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="px-4 py-3 text-lg text-white">Lundi</td>
          <td class="px-4 py-3 text-lg text-white"></td>
          <td class="px-4 py-3 text-lg text-white">18h00-19h30</td>
          <td class="px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white">Mardi</td>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white">19h00-21h00</td>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white">Mercredi</td>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-red-900 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">Jeudi</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">19h30-21h30</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">18h00-19h30</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">Vendredi</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">18h30-20h00 au gymnase Carpentier</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">Samedi</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">12h00-14h00</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">18h00-20h00</td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">Dimanche</td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-red-900 px-4 py-3 text-lg text-white">10h30-12h00</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
