<section class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-white tracking-widest font-medium title-font mb-1">ASK-BOXING Asnières</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-red-800">ANNONCES</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-black bg-opacity-20 p-8 flex-col border-red-600 shadow-lg shadow-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
          <div class="flex-grow">
            <h1 class="text-white text-lg title-font font-medium text-center">Muay-Thaï: section adultes mixte</h1>
            <p class="leading-relaxed text-base">ATTENTION: Pas de cours Vendredi 12/05, Samedi 13/05, Vendredi 19/05, Samedi 20/05 et Samedi 27/05.
              Il n'y a plus de cours d'essai qui reprendront a nouveau en Septembre.</p>
            <a routerLink="/adults" class="mt-3 text-red-800 inline-flex items-center">Plus d'infos
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full shadow-lg shadow-red-600 bg-black bg-opacity-20 p-8 flex-col border-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
          <div class="flex-grow">
            <h1 class="text-white text-lg title-font font-medium text-center">Muay-Thaï: section enfants</h1>
            <p class="leading-relaxed text-base">Les cours ont repris avec la rentree scolaire depuis le 09 mai. Il n'y a plus de cours d'essai qui reprendront a nouveau en septembre.</p>
            <a routerLink="/kids" class="mt-3 text-red-800 inline-flex items-center">Plus d'infos
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full shadow-lg shadow-red-600 bg-black bg-opacity-20 p-8 flex-col border-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
          <div class="flex-grow">
            <h1 class="text-white text-lg title-font font-medium text-center">100% Feminines</h1>
            <p class="leading-relaxed text-base">Pour plus d'information voir directement avec dounia.</p>
            <a routerLink="/ladies" class="mt-3 text-red-800 inline-flex items-center">Plus d'infos
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
  <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
    <li *ngFor="let item of carouselImages">
       <img [src]="getImageURL(item)" alt="{{ item }}">
    </li>
  </ul>
  <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
    <li *ngFor="let item of carouselImages">
      <img [src]="getImageURL(item)" alt="{{ item }}">
    </li>
  </ul>
</div>
<app-calendar></app-calendar>
<section class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">Nos partenaires</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Nous sommes partenaires (référencés sur la ville de Asnières-sur-Seine):
          Pass+  92 / Chèques Vacances-Coupon Sport ANCV / Pass Sport</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border-red-600 shadow-lg shadow-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
        <a href="https://www.hauts-de-seine.fr/mon-departement/les-hauts-de-seine/missions-et-actions/colleges-et-education/linterface-du-pass-hautsdeseine" class="text-red-400 inline-flex items-center mt-3">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/img/Pass%20-%2092.jpg">
        </div>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border-red-600 shadow-lg shadow-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
        <a href="https://www.ancv.com/le-coupon-sport" class="text-red-400 inline-flex items-center mt-3">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/img/ancv.png">
          </div>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border-red-600 shadow-lg shadow-red-600 border-b-2 border-e-2 border-l-2 border-t-2">
        <a href="https://www.crosif.fr/le-passsport/" class="text-red-400 inline-flex items-center mt-3">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/img/Pass-Sport-WEd672c00f76.jpg">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
