<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-red-400 tracking-widest font-medium title-font mb-1">ASK-BOXING Asnières</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">ANNONCES</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-white text-lg title-font font-medium">Muay-Thaï: section adultes mixte</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">ATTENTION: Pas de cours Vendredi 12/05, Samedi 13/05, Vendredi 19/05, Samedi 20/05 et Samedi 27/05.
              Il n'y a plus de cours d'essai qui reprendront a nouveau en Septembre.</p>
            <a routerLink="/adults" class="mt-3 text-red-400 inline-flex items-center">Plus d'infos
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <h2 class="text-white text-lg title-font font-medium">Muay-Thaï: section enfants</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Les cours ont repris avec la rentree scolaire depuis le 09 mai. Il n'y a plus de cours d'essai qui reprendront a nouveau en septembre.</p>
            <a routerLink="/kids" class="mt-3 text-red-400 inline-flex items-center">Plus d'infos
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-white text-lg title-font font-medium">100% Feminines</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Pour plus d'information voir directement avec dounia.</p>
            <a routerLink="/ladies" class="mt-3 text-red-400 inline-flex items-center">Plus d'infos
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Calendrier des cours</h1>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
        <tr>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Jour</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Adultes</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Enfants</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">100% Feminines</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="px-4 py-3 text-lg text-white">Lundi</td>
          <td class="px-4 py-3 text-lg text-white"></td>
          <td class="px-4 py-3 text-lg text-white">18h00-19h30</td>
          <td class="px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">Mardi</td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">19h00-21h00</td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white">Mercredi</td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">Jeudi</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">19h30-21h30</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">18h00-19h30</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">Vendredi</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">18h30-20h00 au gymnase Carpentier</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">Samedi</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">12h00-14h00</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">18h00-20h00</td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">Dimanche</td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white"></td>
          <td class="border-t-2 border-b-2 border-gray-800 px-4 py-3 text-lg text-white">10h30-12h00</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">Nos partenaires</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Nous sommes partenaires (référencés sur la ville de Colombes):
          Pass+  92 / Chèques Vacances-Coupon Sport ANCV / Pass Sport</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <a href="https://www.hauts-de-seine.fr/mon-departement/les-hauts-de-seine/missions-et-actions/colleges-et-education/linterface-du-pass-hautsdeseine" class="text-red-400 inline-flex items-center mt-3">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/Pass%20-%2092.jpg">
        </div>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <a href="https://www.ancv.com/le-coupon-sport" class="text-red-400 inline-flex items-center mt-3">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/ancv.png">
          </div>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <a href="https://www.crosif.fr/le-passsport/" class="text-red-400 inline-flex items-center mt-3">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/Pass-Sport-WEd672c00f76.jpg">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
